@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
//font-family: 'Playfair Display', serif;
@font-face {
	font-family: 'gilroy';
	src: url('../fonts/Gilroy/300/Gilroy-Light.eot');
	src: local('☺'), url('../fonts/Gilroy/300/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy/300/Gilroy-Light.ttf') format('truetype'), url('../fonts/Gilroy/300/Gilroy-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'gilroy';
	src: url('../fonts/Gilroy/400/Gilroy-Regular.eot');
	src: local('☺'), url('../fonts/Gilroy/400/Gilroy-Regular.woff') format('woff'), url('../fonts/Gilroy/400/Gilroy-Regular.ttf') format('truetype'), url('../fonts/Gilroy/400/Gilroy-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'gilroy';
	src: url('../fonts/Gilroy/500/Gilroy-Medium.eot');
	src: local('☺'), url('../fonts/Gilroy/500/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy/500/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy/500/Gilroy-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'gilroy';
	src: url('../fonts/Gilroy/600/Gilroy-Semibold.eot');
	src: local('☺'), url('../fonts/Gilroy/600/Gilroy-Semibold.woff') format('woff'), url('../fonts/Gilroy/600/Gilroy-Semibold.ttf') format('truetype'), url('../fonts/Gilroy/600/Gilroy-Semibold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'gilroy';
	src: url('../fonts/Gilroy/700/Gilroy-Bold.eot');
	src: local('☺'), url('../fonts/Gilroy/700/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy/700/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy/700/Gilroy-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

