.form {
   background-color: #FFB800;
   &__inner {
      
   }

   &__content {
      max-width: 705px;
      padding: 45px 0 40px;
      margin: 0 auto;

      @media (max-width: 690px) {
         padding: 25px 0 25px;
      }
   }

   &__title {
      margin-bottom: 8px;
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #FFFFFF;
   }

   &__subtitle {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.005em;
      color: #FFFFFF;
   }

   &__actions {
   }
   &__field {
      padding: 0 0 3px 3px;
      background: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.07em;
      color: rgba(255, 255, 255, 0.72);
   }
   &__field::placeholder {
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.07em;
      color: rgba(255, 255, 255, 0.72);
   }
   &__data {
      display: flex;
      justify-content: space-between;

      margin-bottom: 40px;

      @media (max-width: 690px) {
         flex-direction: column;
         margin-bottom: 30px;
      }
   }
   &__data input {
      width: 305px;
      border-bottom: 0.5px solid #FFFFFF;

      @media (max-width: 690px) {
         margin-bottom: 30px;
         width: 100%;
      }
   }
   &__data input:last-child {
      @media (max-width: 690px) {
         margin-bottom: 0px;
      }
   }
   &__name {
   }

   &__email {
   }
   &__message {
      margin-bottom: 50px;

      @media (max-width: 690px) {
         margin-bottom: 30px;
      }
   }
   &__message textarea {
      width: 100%;
      border-bottom: 0.5px solid #FFFFFF;
      resize: none;
      height: 25px;
   }

   &__button {
      padding: 10px 22px;
      background: #FFFFFF;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #FFB800;
   }
}
