.stages {
   background-color:rgba(0, 0, 0, 1);
   &__inner {
      padding: 65px 0 140px;

      @media (max-width: 1010px){
         padding: 30px 0 20px;
      }
   }

   &__title {
      margin-bottom: 8px;
   }

   &__subtitle {
      color: #FFFFFF;
      margin-bottom: 95px;

      @media (max-width: 1010px){
         margin-bottom: 35px;
      }
   }

   &__content {
      position: relative;
   }

   &__line {
      position: absolute;
      top: 20%;
      left: 0;
      z-index: 2;

      width: 90%;
      height: 1px;
      background-color: #FFFFFF;

      @media (max-width: 1010px){
         display: none;
      }
   }
   &__column {
      display: flex;
      justify-content: space-between;
      color: #FFFFFF;

      @media (max-width: 1010px){
         flex-direction: column;
      }
   }
   &__item {
      @media (max-width: 1010px){
         display: flex;
         align-items: center;
         margin-bottom: 20px;
      }
   }
   &__indicator {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      border: 1px solid #FFFFFF;

      position: relative;
      z-index: 3;
      background-color: rgba(0, 0, 0, 1);

      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 28px;

      @media (max-width: 1010px){
         margin-bottom: 0px;
      }
   }
   &__indicator span {
      font-size: 40px;
      line-height: 139.4%;
      letter-spacing: 0.2px;
   }
   &__progress {
      position: absolute;
      left: 104%;
      top: -2px;
      transform: translate(-100%, 0);
   }
   &__progress--first {
      left: 100%;
      top: -2px;
   }
   &__progress--three {
      top: -3px;
   }
   &__item-text {
      max-width: 155px;
      font-size: 14px;

      @media (max-width: 1010px){
         margin-left: 30px;
      }
   }
   &__item-text--3 {
      @media (max-width: 1020px){
         max-width: 130px;
      }
      //max-width: 110px;
   }
   &__item-text---squeeze {
      max-width: 150px;
   }
   &__item-text--first {
      position: relative;
      left: -20%;

      @media (max-width: 1010px) {
         left: 0%;
      }
   }
}
